<!DOCTYPE html>
<script src="https://apis.google.com/js/api:client.js"></script>
<html lang="en">
<head>
  <title>Bienvenido</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

<div class="header">
  <a href="/">
    <img src="/static/icons/Logo.png" alt="UDP" style="width: auto; height: 50px;">
  </a>
  <h1>UDPapuntes</h1>
</div>
<div class="flex-container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <div class="card">
              <a href="/login" class="gglBtn">
                <img src="static/icons/googleLog.png" alt="Log In" style="height: 190px;">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>

     

</body>
</html>





